@import '../app.constant.scss';

:host {
  width: 100%;

  .app-fixture {
    display: flex;
    flex-grow: 1;
    flex-flow: column;
    height: 100%;

    .app-header {
      display: flex;
      flex-flow: row;
      justify-content: space-evenly;
      height: 3rem;
    }

    .app-matches-by-day {
      height: calc(100% - 3rem);
      overflow-y: scroll;

      .app-matches {
        border-bottom-style: solid;
        border-width: 1px;
        border-color: $bg-color;
        padding: 0 1rem;

        .app-match {
          display: flex;
          justify-content: space-between;
          margin-bottom: 1rem;
          background-color: $bg-color;
        }
      }
    }
  }
}
