@import '../app.constant.scss';

:host {
  width: 100%;

    .app-team-list {
    display: flex;
    flex-grow: .618;
    flex-flow: column;

    .app-header {
      display: flex;
      flex-flow: row;
      justify-content: space-evenly;
    }

    ul {
      display: flex;
      flex-flow: column;
      align-items: center;
      padding: 0;
      overflow: hidden;

      .app-team {
        display: flex;
        justify-content: center;
        width: calc(100% - 2rem);
        margin-bottom: 1rem;
        background-color: $bg-color;

        &.app-selected-team {
          background-color: darkgray;
        }
      }
    }
  }
}
